<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - User</title>
    <link rel="icon" type="image/x-icon" href="./Img/the_new_york_times.ico">
    <link rel="stylesheet" href="../Styles/reset.css">
    <link rel="stylesheet" href="../Styles/profile.css">
    <link rel="stylesheet" href="../index.html">


</head>

<body>

    <nav id="navDashboard">

        <div>
            <h1 id="titleProfile">Profile</h1>
        </div>
        <input type="button" value="Back" onclick="history.back()">

    </nav>

    <div id="backProfile">

        <div id="profile">

            <div id="profileView">

            </div>

        </div>
    </div>

    <script src="../Services/profile.js"></script>
    <script src="../Services/profileGoogle.js"></script>
    <script src="../Services/loginCheck.js" type="module"></script>

</body>

</html>