#myVideo,
#myVideoJS {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(60%);

}

#formLogin {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.305);
    width: 320px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 3px solid black;
    font-size: 1.1rem;
    font-weight: 100;
    box-shadow: 0px 0px 30px 5px white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#formRegister {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.305);
    width: 320px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 1.1rem;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#alreadyRegistered,
#notRegistered {

    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    cursor: pointer;
    font-weight: 400;
    margin: 15px auto;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

}

#buttonLoginDiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

#googleLogin {

    width: 180px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;

}

#googleLogin:hover {
    filter: brightness(90%);
}

#gitHubLogin {

    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;

}

#gitHubLogin:hover {
    filter: brightness(70%);
}

#facebookLogin {

    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;

}

#facebookLogin:hover {
    filter: brightness(70%);
}


#textLogin {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;


}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    font-style: italic;
    padding: 0.8rem;
    width: 180px;

}

input:hover {

    filter: brightness(90%);

}

#iconLogin {
    width: 50px;
}




#buttonLogin {
    background-image: url(../Img/icons8-login-100-white.png);
    background-color: transparent;
    background-size: 50px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonLoginDivRegister {
    display: flex;
    justify-content: center;
    align-items: center;

}

#buttonRegister {

    background-image: url(../Img/icons8-sign-up-64.png);
    background-color: transparent;
    background-size: 50px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


.buttonLogin:hover {
    filter: brightness(90%);
}

hr {
    width: 100px;
    border: 0.5px solid rgba(0, 0, 0, 0.304);
    margin-top: 5px;
    margin-bottom: 5px;
}



.lds-hourglass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 340px;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin-bottom: 80px;
    border: solid 10px transparent;
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}



/* @media(min-width: 600px) {



    @media(min-width: 800px) {

        #formLogin {

            grid-template-columns: 1fr 1fr;
            grid-row: span;

            width: 600px;
            height: 300px;
        }

        #textLogin {
            display: none;
        }




    }

    @media(min-width: 1200px) {

        #listBooks {

            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        }


    }


} */