body {
    background-color: rgb(171, 171, 171);
}

#navDashboard {
    background-color: rgba(0, 0, 0, 0.512);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    position: fixed;
    top: 0;

}

#titleProfile {

    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}


#profile {

    display: flex;
    justify-content: center;
    align-items: center;

}

#profileView {

    width: 250px;
    height: 350px;
    align-items: center;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 10px 30px rgb(205, 205, 205);


}

#hrProfile {

    width: 200px;
    border: 0.5px solid rgba(0, 0, 0, 0.135);
    margin-top: 30px;




}

#displayName {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    margin-top: 40px;
    font-size: 1.4rem;
    text-align: center;


}

#imgUser {
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;

}


#emailUser {


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    font-size: 0.9rem;

}



.logged-in {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 100;

}

input {
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-weight: 200;
    border: none;
    background-color: none;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:hover {
    color: black;
    font-weight: 500;
}

.logged-in:hover {

    color: black;
    font-weight: 500;

}

#imgUserGoogle {
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;
    border: 2px solid gray;
}

#backProfile {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 153px;
    z-index: auto;
    /* border-bottom: 3px solid yellow; */

}